{% extends 'mailing/basic_design.html' %}
{% load my_tags %}
{% block title %}Главная страница{% endblock %}

{% block header %}
{% include 'mailing/includes/header_menu.html' %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">SendMail Service</h1>
    <p class="lead">Добро пожаловать на наш сайт, {{user.first_name}}, он вам отлично подойдёт для рассылки ваших писем с важной информацией!</p>
</div>

{% endblock %}

{% block content %}
<div class="row text-center">
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <img src="media/mailing/photos/" width="270" height="200"> <!-- Добавить фотку !-->
                <h4 class="my-0 font-weight-normal">Рассылки пользователям</h4>
            </div>
            <div class="card-body">
                {% if user.is_authenticated %}
                    <span class="badge bg-dark rounded-pill">У вас: {{user_mailings.count}} шт.</span>
                {% else %}
                    <span class="badge bg-dark rounded-pill">Всего рассылок: {{mailings.count}} шт.</span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <img src="media/mailing/photos/" width="250" height="200"> <!-- Добавить фотку !-->
                <h4 class="my-0 font-weight-normal">Активные рассылки</h4>
            </div>
            <div class="card-body">
                {% if user.is_authenticated %}
                    <span class="badge bg-dark rounded-pill">У вас: {{user_mailing_started.count}} шт.</span>
                {% else %}
                    <span class="badge bg-dark rounded-pill">Всего: {{mailing_all_started.count}} шт.</span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card mb-6 box-shadow">
            <div class="card-header">
                <img src="media/mailing/photos/" width="200" height="200"> <!-- Добавить фотку !-->
                <h4 class="my-0 font-weight-normal">Уникальные получатели</h4>
            </div>
            <div class="card-body">
                {% if user.is_authenticated %}
                    <span class="badge bg-dark rounded-pill">У вас пользователей: {{user_usermail.count}}.</span>
                {% else %}
                    <span class="badge bg-dark rounded-pill">Всего пользователей: {{user_mail.count}}.</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}