{% extends 'mailing/basic_design.html' %}
{% load my_tags %}
{% block header %}
{% include 'mailing/includes/header_menu.html' %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">SendMail Service</h1>
    <p class="lead">Рассылки для отправки сообщений пользователям</p>
    {% if user.is_authenticated %}
    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mailing:mailing_create' %}">Создать рассылку</a>
    {% endif %}
</div>

{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Дата первой отправки</th>
            <th scope="col">Дата окончания</th>
            <th scope="col">Статус</th>
            <th scope="col">Сообщение</th>
            <th scope="col">Получатели</th>
            <th scope="col">Действие</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for mailing in mailings %}
        <tr>
            <td>{{ mailing.id }}</td>
            <td width="100">{{ mailing.first_sending|date:"d.m.Y H:i:s"|default:"-" }}</td>
            <td width="100">{{ mailing.end_sending|date:"d m Y H:i:s"|default:"-" }}</td>
            {% if mailing.status == "Создана" %}
                <td>{{ mailing.status }}</td>
            {% elif mailing.status == "Запущена" %}
                <td class="text-warning">{{ mailing.status }}</td>
            {% elif mailing.status == "Завершена" %}
                <td class="text-success">{{ mailing.status }}</td>
            {% else %}
                <td class="text-danger">{{ mailing.status }}</td>
            {% endif %}
            <td>{{ mailing.message }}</td>
            <td width="300">
                {% for recipient in mailing.recipients.values %}
                    <p>{{ recipient.email }}</p>
                {% endfor %}
            </td>
            {% if mailing.owner == user and mailing.status == "Создана" %}
                <td scope="col"><a href="{% url 'mailing:mailing_send' mailing.pk %}" class="btn btn-outline-success">Запустить</a></td>
            {% elif mailing.status == "Завершена" or mailing.status == "Отключена"%}
                <td></td>
            {% elif perms.users.can_stop_mailing and mailing.status == "Создана" %}
                <td scope="col"><a href="{% url 'mailing:mailing_stop' mailing.pk %}" class="btn btn-outline-danger">Отключить</a></td>
            {% endif %}
            <td>
                {% if user.is_authenticated %}
                <a href="{% url 'mailing:mailing_update' mailing.pk%}" class="text-decoration-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                </a>
                <a class="btn btn-close" aria-label="Close"
                   href="{% url 'mailing:mailing_delete' mailing.pk%}"></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}