{% extends "mailing/basic_design.html" %}
{% load my_tags %}
{% block title %}Вход{% endblock %}

{% block content %}
<h2 class="p-3 mb-3">Вход на сайт</h2>
<div class="row">
    <div class="col-4 shadow p-3 mb-5 bg-body-tertiary rounded">
        <div class="card-body">
            <form method="post" action="" class="form-floating" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-lg btn-block btn-outline-success">Войти</button>
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mailing:home' %}">Назад</a>
                    <a class="px-3 py-3 btn btn-lg btn-block" href="{% url 'users:password_recovery' %}">Забыли пароль?</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}