{% extends "mailing/basic_design.html" %}
{% load my_tags %}
{% block title %}Сброс пароля{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <p class="display-5">SendMail Service</p>
</div>
<div class="alert alert-info" role="alert">
    <h4 class="row justify-content-center">Письмо для сброса пароля отправлено!</h4>
    <p class="text-center">
        На адрес электронной почты было отправлено письмо со ссылкой для сброса пароля. Пожалуйста, проверьте свою
        электронную почту и перейдите по ссылке. Если письмо не пришло, проверьте папку спам.
    </p>

    <div class="row justify-content-center">
        <div class="col-3">
            <a class="btn btn-primary mt-1 " href="{% url 'users:login' %}" role="button">Перейти ко входу с новым паролем</a>
        </div>
    </div>
</div>
{% endblock %}