{% extends 'mailing/basic_design.html' %}
{% load my_tags %}
{% block title %}Регистрация{% endblock %}

{% block header %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">
        {% if user.is_active %}
            Обновление профиля
        {% else %}
            Регистрация
        {% endif %}
    </h1>
</div>
{% endblock %}

{% block content %}
<div class="row text-center">
    <div class="col-3"></div>
        <div class="card-body col-6 text-center shadow p-3 mb-5 bg-body-tertiary rounded">
            <form method="post" action="" class="form-floating" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                    {{ form.non_field_errors }}
                    {{ form.as_p }}
                    {% if user.is_active %}
                        <button type="submit" class="btn btn-lg btn-block btn-outline-success">
                            Сохранить
                        </button>
                        <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'users:detail' user.pk %}">Отмена</a>
                    {% else %}
                        <button type="submit" class="btn btn-lg btn-block btn-outline-success">
                            Зарегистрироваться
                        </button>
                        <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mailing:home' %}">Назад</a>
                    {% endif %}
                </div>
            </form>
        </div>
    <div class="col-3"></div>
</div>
{% endblock %}