{% load my_tags %}
<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'mailing:home' %}" class="nav-link px-2 text-secondary">Главная</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'mailing:message_list' %}" class="nav-link px-2 text-white">Сообщения</a>
                </li>
                <li><a href="{% url 'mailing:recipientmailing_list' %}" class="nav-link px-2 text-white">Получатели</a></li>
                <li><a href="{% url 'mailing:mailing_list' %}" class="nav-link px-2 text-white">Рассылки</a>
                </li>
                <li><a href="{% url 'mailing:attempt' %}"
                       class="nav-link px-2 text-white">Статистика</a></li>
                <li><a href="{% url 'users:users' %}"
                       class="nav-link px-2 text-white">Пользователи</a></li>
                {% endif %}
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-white" placeholder="Поиск..."
                       aria-label="Search">
            </form>

            <div class="text-end">
                {% if user.is_authenticated %}
                <form method="post" action="{% url 'users:logout' %}" style="display: inline">
                    {% csrf_token %}
                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{user.avatar | media_filter}}" alt="" width="40" height="40"
                                 class="rounded-circle me-2">
                            <strong>{{ user.email }}</strong>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" href="{% url 'users:detail' user.pk %}">Профиль</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <form method="post" action="{% url 'users:logout' %}">
                                    {% csrf_token %}
                                    <button class="dropdown-item">Выйти</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </form>
                {% else %}
                <a class="btn btn-outline-light me-2" href="{% url 'users:login' %}">Войти</a>
                <a class="p-2 btn btn-outline-primary" href="{% url 'users:register' %}">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>